#nome,
#descricao {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #001932;
  font-family: monospace;
  padding: 15px 15px;
  color: #33dcfe;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #f3d2a9;
}
a:hover {
  color: #00639b;
}

li:hover {
  font-size: 1.5em;
}

#perfil {
  border-radius: 100%;
  width: 200px;
}

div{
    display: inline-block;
    text-align: center;
    width: 320px;
    padding: 10px;
    margin: 0;
}

h4{
    text-align: center;
    width: 320px;
}

ul, ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol, ul {
    padding:0;
}

.pais-cidade {
  font-weight: 600;
}

.skills{
  list-style: none;
  list-style-position: inside;
  font-size: 1.2em;
  font-weight: none;
}
